<div class="btn-group">
    <button class="btn btn-primary" type="submit">{{- 'sylius.ui.create'|trans -}}</button>
    {% include ':Common/Form/Buttons:_cancel.html.twig' with {'path': paths.cancel|default(null)} %}
</div>
