<div class="btn-group">
    <button class="btn btn-primary" type="submit" id="sylius_save_changes_button"></i> {{ 'sylius.ui.save_changes'|trans }}</button>
    {% include ':Common/Form/Buttons:_cancel.html.twig' with {'path': paths.cancel|default(null)} %}
</div>
