{% extends 'Common/Layout/sidebar.html.twig' %}

{% block admin_lte_logo %}
  <a href="#" class="logo">
      <span class="logo-mini"><i class="fa fa-lg fa-home"></i></span>
      <span class="logo-lg"><b>Dashboard</b></span>
  </a>
{% endblock %}

{% block javascripts %}

{% endblock %}